<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <div class="container">
        <p>Hello <span class="name"><%= name %></span></p>
        <p>Please click on below link to verify your email</p>
        <a href="<%= url %>" target="_blank">Click here</a>
        <p>If you are unable to click above link then pls use the below url</p>
        <p><%= url %></p>
    </div>
</body>
</html>