<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    <div class="container">
        <p>Hello <span class="name"><%= name %></span></p>
        <p>We are happy to on board you. we can't wait to see your clash</p>
        <p>If you have any query them let us know. We are happy to help you</p>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>